body {
  font-family: monospace;
  font-size: 16px;
}

#calculator {
  border: 1px solid black;
}

#expression_field {
  border: 1px solid black;
  height: 30px;
  padding-left: 5px;
}

#calculator td {
  padding: 10px;
}

#calculator input {
  width: 60px;
}
